# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
PATHFINDER-6K_env/

# VSCode
.vscode/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Build outputs
build/
dist/

# Temporary files
*.tmp
*.bak
*.swp

# Environment variables
.env

# pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover